{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h2 class="text-center">Confirm Registration for {{ object.user.first_name }} {{ object.user.last_name }}</h2>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Card for Confirming Registration -->
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Registration Confirmation</h5>
          </div>
          <div class="card-body">
            <p><strong>Attendee:</strong> {{ object.user.first_name }} {{ object.user.last_name }}</p>
            <p><strong>Email:</strong> {{ object.user.email }}</p>
            <p><strong>Event:</strong> {{ object.event.name }}</p>
            <p><strong>Ticket Type:</strong> {{ object.ticket.ticket_type }}</p>
            <p><strong>Price:</strong> ₹{{ object.ticket.price }}</p>

            <form method="POST">
              {% csrf_token %}
              <p class="mb-3">Please confirm the registration for this attendee.</p>

              <div class="d-flex justify-content-between">
                <div class="button-group">
                <button type="submit" class="btn btn-success">Confirm Registration</button>
                </div>
                <a href="{% url 'registered_events' %}" class="btn btn-secondary">Back to Events</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
