{% extends "base.html" %}

{% block content %}
<div class="mb-4">
    <a href="{% url 'landing_page' %}" class="btn btn-secondary btn-link-style" style="position: absolute; top: 90px; left: 1300px; padding: 10px 20px; text-decoration: none; color: white; background-color: #6c757d; border-radius: 5px; border: none;">
      &larr; Back to Home Page
    </a>
  </div>
<h1>Create an Event</h1>
<form method="post" class="card form-layout">
    {% csrf_token %}
    <div class="card-body">
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="form-text">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
        <div class="button-group">
        <button type="submit" class="btn-link-style">Create Event</button>
        </div>
    </div>
</form>
{% endblock %}
