{% extends 'base.html' %}

{% block content %}
<div class="mb-4">
  <a href="{% url 'upcoming_events' %}" class="btn btn-secondary btn-link-style" style="position: absolute; top: 65px; left: 1250px; padding: 10px 20px; text-decoration: none; color: white; background-color: #6c757d; border-radius: 5px; border: none;">
    &larr; Back to Upcoming Events
  </a>
</div>
  <div class="container mt-4">
      
    <h1>{{ event.name }}</h1>
    <p>{{ event.description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Start:</strong> {{ event.start_date }} | <strong>End:</strong> {{ event.end_date }}</p>

    <h2>Tickets</h2>
    <form method="POST" action="{% url 'ticket_select' event.id %}" class="form-layout">
      {% csrf_token %}
      <div class="form-group">
        <label for="ticket_id">Select Ticket:</label>
        <select name="ticket_id" id="ticket_id" class="form-select">
          {% for ticket in tickets %}
            <option value="{{ ticket.id }}">{{ ticket.ticket_type }} - ₹{{ ticket.price }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="button-group">
      <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </form>
  </div>
{% endblock %}
