{% extends 'base.html' %}

{% block content %}
<h1>Welcome to Event Manager</h1>
<p>Discover and register for events, or create your own!</p>
<p>Browse through upcoming events, manage your registrations, or create new events with ease.</p>
<p>Get in touch with us anytime via our support page for any help.</p>
<p>Start using Event Manager today and make your events more efficient!</p>
<p><strong>Note: The site isn't currently responsive to smartphones and other small screen devices. Kindly view this site on a PC or a Laptop</strong></p>
{% endblock %}
