{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mt-4">My Events</h1>

    <!-- Centered button tabs -->
    <div class="button-group" style="max-width: 500px; margin: 40px auto;">
        <a href="{% url 'registered_events' %}">
            <button style="padding: 20px 40px; font-size: 1.5em; border-radius: 10px;">Events Registered</button>
        </a>
        <a href="{% url 'created_events' %}">
            <button style="padding: 20px 40px; font-size: 1.5em; border-radius: 10px;">Events Created</button>
        </a>
    </div>
</div>
{% endblock %}
