{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
        <div class="mb-4">
          <a href="{% url 'landing_page' %}" class="btn btn-secondary btn-link-style" style="position: absolute; top: 80px; left: 270px; padding: 10px 20px; text-decoration: none; color: white; background-color: #6c757d; border-radius: 5px; border: none;">
            &larr; Back to Home Page
          </a>
        </div>
    <h1 class="text-center mt-4">My Events</h1>

    <!-- Centered button tabs -->
    <div class="button-group" style="max-width: 500px; margin: 40px auto;">
        <a href="{% url 'registered_events' %}">
            <button style="padding: 20px 40px; font-size: 1.5em; border-radius: 10px;">Events Registered</button>
        </a>
        <a href="{% url 'created_events' %}">
            <button style="padding: 20px 40px; font-size: 1.5em; border-radius: 10px;">Events Created</button>
        </a>
    </div>
</div>
{% endblock %}
