{% extends 'base.html' %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Forgot Password</h2>
        <p>Enter your email address to receive a link to reset your password.</p>
        <form method="post" class="form-layout">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-group">
                <button type="submit">Send Reset Instructions</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
